
@import '../../assets/styles/mixin';
@import '../../assets/styles/variable.scss';

.pokemon-detail-container {
  position: relative;
}

.pokemon-detail {
  opacity: 0;
  overflow: hidden;
  width: 40%;
  cursor: default;
  margin: 5% auto;
  display: flex;
  transform: translateX(-10%);
  transition: transform .8s ease, opacity .8s ease;
}

.pokemon-detail.cardSelected {
  opacity: 1;
  cursor: default;
  display: flex;
  position: relative;
  animation: showCard 1s ease-in;
  transform: translateX(0);
}

@keyframes showCard {
  0% { opacity: 0;  transform: translateX(-10%);}
  100% { opacity: 1; transform: translateX(0);}
}

@keyframes hideCard {
  0% { opacity: 0;  transform: translateX(-10%);}
  100% { opacity: 1; transform: translateX(0);}
}

.image {
  width: 100%;
}

.pokemon-detail img {
  width: 100%;
  height: auto;
}
.pokemon-detail h2 {
  text-align: center;
  font-weight: bold;
}

.detail {
    height: 95%;
    margin-left: 20px;
    margin-top: 0;
    padding: 0 20px 0 20px;
    font-size: 14px;
    width: 100%;
}
.detail h3 {
    font-weight: bold;
}
.detail h4{
    font-weight: bold;
    color: $blue;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
    background-color: $yellow;
    padding: 5px 0;
  }

@include media_breakpoint(1024) {
  .pokemon-detail{ 
    width: 50%; 
    margin: 0;      
  }
  .description{ padding: 5px; align-items: center;}
  .detail { width: 100%; border-left: none; margin-top: 3%;}
  .detail h3 { font-size: 16px;}
  .image { width: 60%;}
  .cardSelected{
    width: 87%;
    margin: 7% 7%;
  }
  .card h2{
    font-size: 14px;
  }
}
@include media_breakpoint(812) {
  .pokemon-detail{ 
    width: 100%; 
    margin: 0;      
  }
  .description{ padding: 5px; align-items: center;}
  .detail { width: 100%; border-left: none; margin-top: 3%;}
  .detail h3 { font-size: 20px;}
  .detail h4 { font-size: 25px;}
  .image h2 { font-size: 20px;}
  .image { width: 25%; margin-left: 10%;}
  .cardSelected{
    width: 100%;
    margin: 10% 0;
  }
  .card h2{
    font-size: 14px;
  }
}
@include media_breakpoint(767) { 
  .pokemon-detail{ 
    width: 80%; 
    margin: 0;      
  }
  .description{ padding: 5px; align-items: center;}
  .detail { width: 50%; border-left: none; margin-top: 3%;}
  .detail h3 { font-size: 20px;}
  .detail h4 { font-size: 25px;}
  .image h2 { font-size: 20px;}
  .image { width: 35%; margin-left: 10%;}
  .cardSelected{
    width: 100%;
    margin: 0;
  }
  .card h2{
    font-size: 14px;
  }
}
@include media_breakpoint(608) {
  .pokemon-detail{ 
    width: 50%; 
    margin: 0;      
  }
  .description{ padding: 5px; align-items: center;}
  .detail { width: 100%; border-left: none; margin-top: 3%;}
  .detail h3 { font-size: 20px;}
  .detail h4 { font-size: 18px;}
  .image h2 { font-size: 23px;}
  .image { width: 30%;}
  .cardSelected{
    width: 100%;
    margin: 10% 0;
  }
  .card h2{
    font-size: 14px;
  }
}
@include media_breakpoint(401) { 
  .pokemon-detail{ 
    width: 50%; 
    margin: 0;      
  }
  .description{ padding: 5px; align-items: center;}
  .detail { width: 100%; border-left: none; margin-top: 3%;}
  .detail h3 { font-size: 14px;}
  .image { width: 30%; margin-top: 10%;}
  .cardSelected{
    width: 100%;
    margin: 10% 0;
  }
}
@include media_breakpoint(479) {
  .pokemon-detail{ 
    width: 50%; 
    margin: 0;      
  }
  .description{ padding: 5px; align-items: center;}
  .detail { width: 100%; border-left: none; margin-top: 3%;}
  .detail h3 { font-size: 14px;}
  .detail h4 { font-size: 12px;}
  .image h2 { font-size: 16px;}
  .image { width: 30%; margin-top: 10%;}
  .cardSelected{
    width: 100%;
    margin: 10% 0;
  }
  .card h2{
    font-size: 14px;
  }
}
