.menu-container {
    width: 93%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 5px;
  }
  
  .menu-item-container {
    width: 100%;
    display: flex;
  }
  
  .menu-item {
    width: 100%;
    padding: 5px;
    border: 1px solid #c4cdd8;
    background-color: #E4E0E0;
    color: black;
    margin-bottom: 2px;
  }
  
  .menu-item:hover {
    background-color: rgb(255, 0, 0);
  }

  .search {
      width: 100%;
      margin: 10px 0;
  }
  .items {
    width: 80%;
  }

.btnLang {
  position: absolute;
  top: 35px;
  padding: 15px;
  right: 30px;
}

.btnLang, .btnLang:active, .btnLang:focus{
    margin: -28px -20px 0 0;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    outline: none;
    display: block;
    float: right;
}
.btnLang img{
    width: 25px;
    height: 16px;
    display: inline-block;
}

  