.menu-container {
    width: 93%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 5px;
  }
  
  .menu-item-container {
    width: 100%;
    margin: 1px;
  }
  
  .menu-item {
    width: 100%;
    padding: 5px;
    border: 1px solid #c4cdd8;
    background-color: #E4E0E0;
    color: black;
    margin-bottom: 2px;
  }
  
  .menu-item:hover {
    background-color: rgb(255, 0, 0);
  }

  .search {
      width: 100%;
      margin: 10px 0;
  }
  .items {
      width: 100%;
  }