.paginator li a{
    color: black;
    cursor: pointer;
    outline: none;
    font-size: 16px;
}

.paginator{
    background-color: white;
    opacity: 80%;
    border-radius: 10px;
    margin: 0 auto;
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.paginator li{
    padding: 5px 7px;
}
  
.paginator li.pageSelected a{
    cursor: default;
    color: red;
    font-weight: bold;
}
  
@media (max-width: 415px) and (max-height: 738px) and (orientation: portrait) {
    .paginator li a{
      font-size: 12px;
    }
}